/* comienzo de font-face para botones de seleccion de lenguaje de programacion .lang-select */

/* latin-ext */
/*
change height of explorer tab when zoomed out
make file-op icons stay same size
fix body height responsive
try to make explorer visible oonly when called on smaller screens
make editor bigger on smaller screens
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/ide/fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/ide/fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* fin de font-face para botones de seleccion de lenguaje de programacion .lang-select */
body{
    font-family: 'Lato';
}
body {
    background: #2C001E;
    overflow: scroll;
}
form{
    display: inherit;
    position: relative;
}
h1{
    display: block;
    text-align: center;
    margin-left: -5%;
    font-variant: small-caps;
}
li{
    list-style: none;
}
.btn-docs i:active{
    color: #DD4818 !important;
}
.content{
    background: #272727;
    width: 100%; 
    margin: auto;
    display: block;  
    overflow: unset;
    position: relative;
}
#editor {
    border: 0.4em solid #444;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 10.01em;
    bottom: 3.8em;
}
.editor-container{
    display: inline;
    position: absolute;
    right: 0%;
    left: 20%;
    height: 60vh;
}
.editor-container > .container{
    position: relative;
    height: 100%;
    overflow: scroll;
}
.file-delete{
    color: #c81717;
}
.file-delete:hover{
    color: #b70606;
    opacity: 0.8 !important;
}
.file-oper, .file-search, .file-delete{
    transition: opacity 0.4s;
}
.file-oper:hover, .file-search:hover, .file-delete:hover{
    opacity: 0.40;
}
.file-oper:active{
    opacity: 1;
}
.flie-oper-list{
    position: absolute;
}
.file-oper, .fa-2x{
    color: #F7F6F5;
    margin-top: 10%;
    position: relative;
}
.file-oper{
    font-size: 39px !important;
}
.file-search, .file-delete{
    font-size: 40px;
    margin-left: 0.21em;
}
.fa-2x{
    font-size: 34px !important;
}
.hidden-tip-1, .hidden-tip-2, .hidden-tip-3, .hidden-tip-4{
    position: absolute;
    left: 50%;
    top: 12px;
    opacity: 0;
    color: #fff;
    transition: left 1s, opacity 0.4s;
    cursor: pointer;
    }
    .hidden-tip-4{
    top: 3.4em;
    color: #fff;
    font-size: 50px;
    transition: left 1s, opacity 0.4s;
    cursor: pointer;
    z-index: 10;
    padding: 1em;
    border-radius: 0.5em;
    background: rgba(80,20,20,0.5);
    }
    .docs-open:hover .hidden-tip-1, .docs-create:hover .hidden-tip-2, .docs-save:hover .hidden-tip-3, .docs-delete:hover .hidden-tip-4{
        left: 17%;
        opacity: 1;
        transition: left 0.3s, opacity 1.4s;
    }
    .docs-open:active .hidden-tip-1, .docs-create:active .hidden-tip-2, .docs-save:active .hidden-tip-3, .docs-delete:active .hidden-tip-4{
        color: #DD4818;
        opacity: 1;
    }
    .docs-delete:hover .hidden-tip-4{
        transition: left 0.3s, opacity 1s;
}
.inner-width{
    width: 100%;
    margin:auto;
}
.lista-ul{
    font-size: 12px;
    line-height: .5;
    margin-top: 0.6em;
    margin-left: 2.8em;
}
.lang-select{
    display: none;
}
.lista-dir{

}
.lang-btn{
    display: inline-block !important;
    height: 5em !important;
    width: 5em !important;
    border: 2px solid #fff;
    border-radius: 100%;
    margin: 0.8em auto !important;
    transition: transform 0.2s;
}
.lang-btn:hover{
    border: 2px solid #ddd;
    transform: scale(1.05,1.05) translate3d(0, -5px, 0);
}
.lang-btn:active{
    opacity: 0.50;
    transform: scale(1,1) translate3d(0, 0, 0);
}
.lang-btn>p{
    color: #fff;
    float: none !important;
    font-size: 18px;
    font-variant: small-caps;
    height: 100% !important;
    margin-left: 0 !important;
    margin-top: 35% !important;
    text-align: center;
    width: 100% !important;
}
.no-display{
    display: none;
}
#open-file-name{
    position: absolute;
    z-index: 10;
    background: #411934;
    font-size: 15px;
    border: 2px solid #fff;
    color: #fff;
    padding: 0.1em 0.6em;
}
.php-file-tree {
    font-size: 14px;
    letter-spacing: 1px;    line-height: 1.5;
}
.switch-container>li{
    float: none !important;
    display: inline-block !important;
    width: 12% !important;/*100% / 7 para que quepan a lo largo    display: none;
}*/
}
.switch-container{
    height: 7.5em;
    margin: auto;
    display: block;
    background: #272727;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
#submit{
    display: block;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
}
.textboxclass{
    background: rgba(65, 25, 52, 0.5);
    border: none;
    color: #bbb;
    display: block;
    height: 0px;
    margin-bottom: 1em;
    opacity: 0;
    outline: transparent !important;
    text-align: center;
    transition: height 0.5s, opacity 0.5s, box-shadow 0.2s;
}
.checkboxclass:checked ~ .textboxclass{
    height: 40px;
    opacity: 1;
    width:  206px;
}
.textboxclass:focus{
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#js{
    background: #333;
}
#php{
    background: #861136;
}
#html{
    background:#AB0BAD;
}
#css{
    background: #D06200;
}
#cpp{
    background: #0A79CA;
}
#java{
    background: #6DCA0A;
}
#myd{
    background: #118666;
}
#carpeta{
    background: #F2D13A;
}
/*estilos de scroll, solo visibles en safari y chrome*/
::-webkit-scrollbar{
  width: 6px;  /* for vertical scrollbars */
  height: 6px; /* for horizontal scrollbars */
}
::-webkit-scrollbar-track{
  background: #411934;
}

::-webkit-scrollbar-thumb{
  background: #1b000d;
}
::-webkit-scrollbar-corner{
    background: #2C001E;
}
::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}
/*media queries*/
@media only screen 
and (min-device-width:767px){
    body{
        overflow: hidden;
    }
    .editor-container{
        height: 100vh;
    }
}

@media only screen
and(min-device-width:10px)
and(max-device-width:768px){

}