/* comienzo de font-face para botones de seleccion de lenguaje de programacion .lang-select */

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/ide/fonts/UyBMtLsHKBKXelqf4x7VRQ.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/ide/fonts/1YwB1sO8YE1Lyjf12WNiUA.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* fin de font-face para botones de seleccion de lenguaje de programacion .lang-select */
body {
    background: #2C001E;
    overflow: hidden;
}
form{
    display: inherit;
}
h1{
    display: block;
    text-align: center;
    margin-left: -5%;
    font-variant: small-caps;
}
li{
    list-style: none;
}
#editor {
    border: 0.4em solid #444;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    display: block;
    height:484px;
}
.editor-container{
    float: right;
    width: 79.54%;
    display: inline;
    position: relative;
    z-index: 3;
}
.inner-width{
    width: 100%;
    margin:auto;
}
.lista-ul{
    font-size: 12px;
    line-height: .5;
    margin-top: 0.6em;
    margin-left: 2.8em;
}
.lang-select{
    display: none;
}
.lista-dir{

}
.lang-btn{
    display: inline-block !important;
    height: 5em !important;
    width: 5em !important;
    border: 2px solid #fff;
    border-radius: 100%;
    margin: 0.8em auto !important;
    transition: transform 0.2s;
}
.lang-btn:hover{
    border: 2px solid #ddd;
    transform: scale(1.05,1.05) translate3d(0, -5px, 0);
}
.lang-btn:active{
    opacity: 0.50;
    transform: scale(1,1) translate3d(0, 0, 0);
}
.lang-btn>p{
    color: #fff;
    float: none !important;
    font-size: 18px;
    font-variant: small-caps;
    height: 100% !important;
    margin-left: 0 !important;
    margin-top: 35% !important;
    text-align: center;
    width: 100% !important;
}
.no-display{
    display: none !important;
}
.switch-container>li{
    float: none !important;
    display: inline-block !important;
    width: 12% !important;/*100% / 7 para que quepan a lo largo    display: none;
}*/
}
.php-file-tree {
    font-family: 'Lato';
    font-size: 14px;
    letter-spacing: 1px;    line-height: 1.5;
}
.switch-container{
    height: 7.5em;
    margin: auto;
    display: block;
    background: #272727;
    border-top-left-radius: 6px;
    text-align: center;
}
#submit{
    display: block;
    margin-top: 1.2em;
    margin-left: auto;
    margin-right: auto;
}
#js{
    background: #333;
}
#php{
    background: #861136;
}
#html{
    background:#AB0BAD;
}
#css{
    background: #D06200;
}
#cpp{
    background: #0A79CA;
}
#jar{
    background: #6DCA0A;
}
#myd{
    background: #118666;
}
/*estilos de scroll, solo visibles en safari y chrome*/
::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-corner{
    background: #2C001E;
}